@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root {
    --azul-marinho: #2C3E50;
    --dourado: #F39C12;
    --cinza-escuro: #34495E;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: purple;
}

#navbar {
    display: flex;
    background-color: var(--azul-marinho);
    
    height: 82px;
    width: 100vw;

    align-items: center;
    justify-content: left;
}

#nav-items {
    display: flex;
}

.nav-item {
    display: flex;
}

a {
    display: flex;
    text-decoration: none;
    color: white;
}

#logo {
    display: flex;

    width: 100px;
    height: auto;
    margin-left: 5px;
}

#logo:hover {  /* O Efeito do Hover só será visto em celular ou notebook */
    transform: scale(1.6, 1.6);
    transition: all .9s;
}

#iconmenu {
    position: absolute;
    top: 3%;
    right: 0;
    margin-right: 20px;
    font-size: 2.3em;
}

/* TABLET */

@media (min-width: 480px) and (max-width: 768px) {
    body {
        background-color: pink;
    }
}

/* LAPTOPS */

@media (min-width: 769px) and (max-width: 1024px) {
    body {
        background-color: green;
    }
}

/* DESKTOP */

@media (min-width: 1025px) and (max-width: 1200px) {
    body {
        background-color: orange;
    }
}

/* TELAS GRANDES */

@media (min-width: 1201px) and (max-width: 1680px) {
    body {
        background-color: darkred;
    }
}

/*
Saiba mais sobre os proximos passos do projeto, para que você possa se guiar:

https://docs.google.com/document/d/1PMKqOq8v6n44g5Cm_Q22oRsHnhu410k1SFNIpps4f-0/edit
*/